<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="dist/murb_design_system.css">
  <title>murb design system</title>
  <% if ENV['REFRESH'] %>
    <meta http-equiv="refresh" content="<%=ENV['REFRESH'] %>">
  <% end %>
</head>

<body>
  <nav class="sticky">
    <ul>
      <li><a href="#principles" class="active">Active principles</a></li>
      <li><a href="#principles">Principles</a></li>
    </ul>

    <ul>
      <li><a href="#" class="button alert">Fake sign out button</a></li>
    </ul>
  </nav>
  <main>
    <h1>murb design system</h1>
    <p>Really, this is not a design system yet.</p>
    <h2>Principles</h2>
    <ul>
      <li>Use semantic HTML and rely on it <em>without using additional classes</em></li>
      <li>Do not reset the browser stylesheets (there might be a reason for it)</li>
      <li>Accessible</li>
      <li>Simple &amp; human readable</li>
      <li>Cascading</li>
      <li>Use floats and grids where appropriate, but rather nothing</li>
    </ul>
    <h2>Variables</h2>
    <table>
      <%
        variables_file=File.read("vendor/assets/stylesheets/variables.scss")
        variables = variables_file.split(/\n/).delete_if(&:empty?).collect{|line| line.split(":").map(&:strip)}.to_h
        variables.collect do |key, value|
          if value.match(/\A\#[\dA-Za-z]{3,6};/)
            value="<span style=\" background:#{value}; width: 1.5em; display: inline-block\">&nbsp;</span> #{value}"
          end
          variables[key] = value
        end

        variables.collect do |key, value|
          if value.match(/\A\$\w/)
            value = value.sub(";","")
            value = "#{variables[value]} (#{value})"
          end
          variables[key] = value
        end

        variables.each do |key, value|
        %>
        <tr>
          <th>
            <%= key%>
          </th>
          <td>
            <%= value%>
          </td>
        </tr>
        <% end %>
    </table>
    <h2>Alerts & notices</h2>
    <p class="alert hide-for-print">Alert</p>
    <p class="notice hide-for-print">Notice</p>
    <h2>Lists</h2>
    <p>Just use regular HTML</p>
    <h3>Unordered lists</h3>
    <ul>
      <li>Use semantic HTML and rely on it <em>without using additional classes</em></li>
      <li>Do not reset the browser stylesheets (there might be a reason for it)</li>
      <li>...</li>
    </ul>
    <h3>Ordered lists</h3>
    <ol>
      <li>Use semantic HTML and rely on it <em>without using additional classes</em></li>
      <li>Do not reset the browser stylesheets (there might be a reason for it)</li>
      <li>...</li>
    </ol>
    <h3>Definition lists</h3>
    <dl>
      <dt>CSS</dt>
      <dd>Cascading Style Sheets</dd>
      <dt>HTML</dt>
      <dd>HyperText Markup Language</dd>
    </dl>
    <p>The above is basically unstyled. You can add a <tt>.no-inset</tt> class to remove the default padding. A slight bottom margin is added to keep the visual grouping</p>
    <dl class="no-inset">
      <dt>CSS</dt>
      <dd>Cascading Style Sheets</dd>
      <dt>HTML</dt>
      <dd>HyperText Markup Language</dd>
    </dl>
    <p>Finally, you there is an inline variant, where the dt and dd are displayed inline. This is done by adding a <tt>.inline</tt> class to the dl-element.</p>
    <dl class="inline">
      <dt>CSS</dt>
      <dd>Cascading Style Sheets. Also here we add a small bottom margin to make sure that even when the text is very long, like this, there is some visual grouping.</dd>
      <dt>HTML</dt>
      <dd>HyperText Markup Language</dd>
    </dl>
    <h2>Forms</h2>
    <form>
      <label>This is a label with the input inside it.<input type="text" /></label>
      <label>This is a label with the input inside it.<input type="text" aria-invalid="true" /><span class="error">with
          an error</span></label>
      <label>Date input, just use HTML5 inputs.<input type="date" /></label>
      <label>A disabled number input.<input type="number" disabled="disabled" /></label>
      <label>Textarea.<textarea>Some text</textarea></label>
      <label>A .large textarea<textarea class="large">Some text</textarea></label>
      <fieldset>
        <legend>Buttons</legend>
        <p>These buttons are indeed presented within a fieldset</p>
        <input type="submit" value="Plain submit button" />
        <button>A button</button>
        <a href="" class="button">A link with a button class</a>
        <br />
        <a href="" class="small button">.button.small</a>
        <button class="small">A button-element with just a small class</button>
        <small><button>Button-element within a small-element container</button></small>
        <br />
        <button class="warn">add .warn</button>
        <button class="secondary">add .secondary</button>
        <button class="primary">add .primary</button>

      </fieldset>
      <h3>Selecting one or more from a list of variables</h3>
      <p>We use a option select if there is more than > 8 options to present.</p>

      <label>Option select<select>
          <option>Default</option>
          <option>Other</option>
          <option>Yet another</option>
        </select></label>
      <fieldset>
        <legend>Radiobuttons</legend>
        <label><input type="radio" name="radio" />Option 1</label><br />
        <label><input type="radio" name="radio" />Option 2</label><br />
        <label><input type="radio" name="radio" />Option 3</label><br />
      </fieldset>
      <fieldset>
        <legend>Checkboxes</legend>
        <label><input type="checkbox" name="check" />Option 1</label><br />
        <label><input type="checkbox" name="check" />Option 2</label><br />
        <label><input type="checkbox" name="check" />Option 3</label><br />
      </fieldset>
    </form>
    <h2>Navigation</h2>
    <p>You have already seen the main navigation in the top, wrap an unordered list in a <tt>nav</tt>-element.</p>
    <p>You can also have navigation in main; as a sub-navigation. Make sure you give your navigation a unique role.</p>
    <nav role="navigation">
      <ul>
        <li><a href="#principles" class="active">Active principles</a></li>
        <li><a href="#principles">Principles</a></li>
      </ul>

      <ul>
        <li><a href="#" class="button secondary">Other button</a></li>
        <li><a href="#" class="button secondary">Other button</a></li>
        <li><a href="#" class="button alert">Fake sign out button</a></li>
      </ul>
    </nav>

    <h2>Tables</h2>
    <table>
      <thead>
        <tr>
          <th>Head</th>
          <th class="number">Other<br/>head</th>
        </tr>
      </thead>
      <tfoot>
        <tr>
          <td>Foot</td>
          <td class="number"><strong>€ 12335.00</strong></td>
        </tr>
        <tbody>
          <tr>
            <th>Number next <br/><small>(with .number class)</small></th>
            <td class="number">€ 12.00</td>
          </tr>
          <tr>
            <th>Other number (with .number class)</th>
            <td class="number">€ 12323.00</td>
          </tr>
        </tbody>
    </table>

    <h3>Tables</h3>
    <p>When applying <tt>aria-sort="ascending"</tt> or <tt>aria-sort="descending"</tt> (see <a href="https://developer.mozilla.org/en-US/docs/Web/Accessibility/ARIA/Attributes/aria-sort">MDN on Aria Sort</a>) you get automatic content after</p>
    <table>
      <thead>
        <tr>
          <th aria-sort="ascending">Ascending</th>
          <th aria-sort="descending">Descending</th>
        </tr>
      </thead>
    </table>
    <h2>Cards</h2>
    <p>These have been heavily influenced by <a href="https://inclusive-components.design/cards/">Inclusive Component
        Cards</a></p>
    <ol class="cards">
      <li>
        <article class="card">
          <div class="text">Text before image</div>
          <div class="img">Image</div>

        </article>
      </li>
      <li>
        <article class="card">
          <div class="text">Text</div>
          <div class="img">Image</div>

        </article>
      </li>
      <li>
        <article class="card">
          <div class="text">Text</div>
          <div class="img">Image</div>

        </article>
      </li>
      <li>
        <article class="card">
          <div class="text">Text</div>
          <div class="img">Image</div>

        </article>
      </li>
      <li>
        <article class="card">
          <div class="text">Text</div>
          <div class="img">Image</div>

        </article>
      </li>
      <li>
        <article class="card">
          <div class="text">Text</div>
          <div class="img">Image</div>

        </article>
      </li>
      <li>
        <article class="card">
          <div class="text">Text</div>
          <div class="img">Image</div>

        </article>
      </li>
    </ol>

    <h2>Columns</h2>
    <p>Simply wrap it in a .u-columns class</p>
    <div class="u-columns">
      <mark>
        Column 1
      </mark>
      <mark>
        Column 2
      </mark>
    </div>
    <p>It just will try to make things fit:</p>
    <div class="u-columns">
      <mark>
        Column 1
      </mark>
      <mark>
        Column 2
      </mark>
      <mark>
        Column 3
      </mark>
      <mark>
        Column 4
      </mark>
      <mark>
        Column 5
      </mark>
    </div>
    <p>Special variant .u-columns--main-aside</p>
  </main>
  <div class="u-columns u-columns--main-aside">
    <main>
      <h3>Main demo</h3>
      <p>this is a main element</p>
      <p>this is a main element</p>
      <p>this is a main element</p>
      <p>this is a main element</p>
      <p>this is a main element</p>
    </main>
    <aside>
      <p>This is an aside</p>
      <p><input type="submit" class="button" /><input type="submit" class="button" /></p>
    </aside>
  </div>
  <main>
    <h3>Back to a single main</h3>
    <p><strong>Note:</strong> you should really have just a single main section in your page.</p>
    <h2>Printing</h2>
    <p>A few tools for printing have been added.</p>
    <p>To make a page break, add a <tt>.page</tt> class to a hr-element.</p>
    <hr class="page"/>
    <p>This will be on a single page</p>
    <hr class="page"/>
    <div class="print-preview">
      <h1>This is supposed to be an A4 print preview</h1>
      <p class="not-for-print">.not-for-print is not visible here</p>
    </div>
    <p>You can hide things for print using a .not-for-print class, see below.</p>
    <p class="not-for-print">.not-for-print is not visible here</p>

  </main>
</body>

</html>